input[type="date"] {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 5px;
    font-size: 1em;
    border-radius: 4px;
  }
input[type="date"]:focus {
    background-color: var(--primary-dark);
    outline: none;
 }
